
@{
    ViewBag.Title = "Index";
}


<div class="col-md-9 col-sm-9">
   
     <div class="icons">
         <a href="#" class="btn-block"><i class="fa fa-calendar fa-5x"></i>
            <p>Book an Appointment</p></a>
    </div>

    <div class="icons" id="hoursOfOperation">
        <div>
            <a href="#" class="btn-block" id="hoursOfOperation">
                <i class="fa fa-clock-o fa-5x"></i>
                @*<i class="fa fa-calendar-plus-o"></i>*@
                <p>Hours of Operation</p>
            </a>
        </div>
        <div id="toggle-time">
            <ul>
                <li>Mon: 8am - 9pm</li>
                <li>Tues: 8am - 9pm</li>
                <li>Wed: 8am - 9pm</li>
                <li>Thurs: 8am - 9pm</li>
                <li>Fri: 8am - 9pm</li>
                <li>Sat: 8am - 9pm</li>
                <li>Sun: 8am - 9pm</li>
            </ul>
        </div>
        <script>
        $(document).ready(function () {
            $("#hoursOfOperation").click(function () {
                $("#toggle-time ul").toggle(700);
            });
        });
        </script>
    </div>
    
    <div class="icons">
        <a href="#" class="btn-block"><i class="fa fa-phone fa-5x"></i>
        <p>Contact Us</p></a>
    </div>
</div>
<div class="col-md-9 col-sm-9 col-xs-12">
    <h2>Index</h2>
    <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text.
        It has roots in a piece of classical Latin literature from 45 BC, making
        it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
        College in Virginia, looked up one of the more obscure Latin words, consectetur, from
        a Lorem Ipsum passage, and going through the cites of the word in classical literature,
        discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of
        "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45
        BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.
        The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
    </p>
</div>

<div class="col-md-3 col-sm-3 right">
    <div class="btn-default">
        <div id="alert">
            <a href="#">
                <h3>Alert</h3>
                <img src="~/Images/ambulance.JPG" />
                <p>content regarding alert</p>
            </a>
        </div>
    </div>
    <div class="btn-default">
        <div id="parking">
            <a href="../ParkingMap">
                <h3>Parking</h3>
                <img src="~/Images/parking.JPG" />
                <p>Parking content</p>
            </a>
         </div>
    </div>


    @*<div>
    <div id="e-News">
         <h3>Newsletter</h3>
         <form>
            <input type="email" value="text"  />
          <input type="submit" value="Create" class="btn btn-default" />
             @Html.ActionLink("Submit", "Newsletters", "Create")
         </form>
     </div>
    </div>*@
</div>






@*  <!--Carousel -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">

                <img src="~/Images/Winter-Tiger-Wild-Cat-Images.jpg" />
            </div>

            <div class="item">

                <img src="~/Images/download (1).jpg" />
            </div>

            <div class="item">

                <img src="~/Images/download (2).jpg" />
            </div>

            <div class="item">

                <img src="~/Images/download.jpg" />
            </div>
        </div>

        <!-- Left and right controls CAROSAL -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>*@