body {

}
.container-fluid{
    margin: 0 5%;
}
header{
    position: initial; 
    padding: 20px;
  
   
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* make sidebar nav vertical */ 
@media (max-width: 768px) {
/*------------------Top navigation------------------*/
/*.nav > li{
    background-color: #66CCCC;
}*/
/*------------------Side Navigation------------------*/
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
/*------------------footer------------------*/
footer{
    position: absolute;
    bottom: 0;
    text-align: center;
}
footer ul{
   text-decoration: none; 
}
footer li{
     display: inline-block;
     list-style: none; 
     padding: 0 13px;

   
}
footer li a{
    color: white; 
}
footer li a:hover{
    color: aquamarine;
  text-decoration: none; 
}
}

/* need to make form inline or else its' taking whole block */
/*#search { 
    display: inline; 


}*/


.sidebar-nav{
    padding-top: 20px;
}

.sideNavigation li{
    background-color: #006595;
    margin: 8px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px #888888;
   
       
}
.sideNavigation li a{
    text-decoration:none;
    color: black;
    padding: 10px 14px;
    display: block;
     color:white; 
}
.sideNavigation > li > a:hover{
    color: white;

}
.sideNavigation li:hover{
    background-color: skyblue;
   color: white;    
}
ul.sideNavigation{
    list-style: none; 
    margin: 0;
    padding-left: 0;
}

.pull-right{
    display: inline-block !important;
}

 #searchBar{
     position: relative;
     width: 200px;
     vertical-align: top;
     box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.30)
 }
 .input-group-btn > .btn{
     background-color: #1D4757;
     color: white; 
 }
 #navigation{
     display: inline-block;
 }


   /*---------------*/
  /*     INDEX     */
 /*---------------*/

 .icons{
     display: inline-block;
     width:32%;
     vertical-align: top; 
 }
 .icons .btn-block{
    text-align: center;
    padding: 15px;
    border-radius: 25px;
    max-height: 132px;
    background-color: rgba(102,204,255, 0.4);
  
 }
   .icons .btn-block > p{
       z-index: 100;
       display: block;
   }
 #toggle-time ul{
     display: none;
 }

 #alert, #parking{
    border: 1px solid black;
    margin-bottom: 3rem;  
    border-radius: 18px;
    box-shadow: 0px 3px 5px #888888;
}
 
#alert h3, #parking h3{
    background-color: #1D4757;
    color: white;
    padding: 2px 0;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
   
}
#alert img, #parking img{
    width: 100%; 
    padding: 8px;
}
#alert p, #parking p{
    padding-top: 8px;
    padding-right: 8px; 
    padding-left:8px;
    width: 100%;
}
#alert a, #parking a{
    text-decoration: none; 
    color: black;
}
 /*-------------------Events--------------------*/
 
 .listEvents .btn.btn-link{
     width: 100%;
     background-color: rgba(98, 166, 222, 0.4);
     color: aliceblue;
     border: 1px solid;
     border-color: rgba(98, 166, 222, 0.4);
     border-radius:25px;
      margin-bottom: 20px;
 }
 .listEvents .btn.btn-link:hover{
     background-color: dodgerblue;
     /*opacity(0.4); */
 }