
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Checkout</h2>
@Html.ActionLink("Checkout", "Index", "Paypal1", new { area = ""}, new { @class = "btn btn-primary" })

