
@{
    ViewBag.Title = "Thank you for your question!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank you for your question!</h2>
<p>Your question will be displayed in the question list after moderation. Wait for an answer!</p>

<div>
    @Html.ActionLink("List of questions", "Index_user") |
    @Html.ActionLink("Ask one question more", "Create_user")
</div>